@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --media-brand: 245 245 245;
  --media-focus: 78 156 246;
}

/* Bloque de video bunny.net */

.wp-block[data-type='sage/video'] video {
  width: 100%;
}

[data-media-player][data-view-type='video'] {
  aspect-ratio: auto !important;
}

video:not([width]):not([height]),
iframe:not([width]):not([height]) {
  aspect-ratio: auto !important;
}

.feather-icon {
  fill: none !important;
  stroke: currentColor;
  stroke-width: 2px;
}
