html {
  font-size: 1rem;

  @media (width >= 640px) {
    font-size: calc(0.5vw + 0.7rem);
  }
}

a {
  text-decoration: none;
}

:focus {
  @apply outline-2 outline-gris-fb outline-offset-8;
}

.main,
.site-main {
  a {
    @apply text-azul;

    &:hover {
      @apply text-negro-fb;
    }
  }

  @media (width >= 640px) {
    margin-top: 10rem;

    .home &,
    .tax-artist &,
    .single-story &,
    .single-project & {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

#app {
  @apply relative;
}

.bg-fondo-medio {
  background-image: url('../../images/bg-medio.svg');
  background-size: 10px;
}

.bg-fondo {
  background-image: url('../../images/bg.svg');
}

.bg-tk-triangulo {
  background-image: url('../../images/triangulo-ticket.svg');
}

.bg-tk-triangulo-down {
  background-image: url('../../images/triangulo-ticket-down.svg');
}

.bg-fondo-claro {
  background-image: url('../../images/bg-claro.svg');
}

.bg-punteado {
  background-image: url('../../images/punteado-cupon.svg');
}

main {
  a:link {
    @apply text-azul;
    transition: color 0.5s, background-color 0.5s;
    text-decoration: none;

    &:visited {
      color: #6c7399;
    }
  }

  .prose {
    ul > li {
      padding-left: 0;

      &.blocks-gallery-grid::before {
        content: none;
      }

      img {
        margin: 0;
      }
    }
  }

  .contenido > * {
    max-width: 800px;
    margin-left: auto !important;
    margin-right: auto !important;

    &.alignwide,
    &.align-wide,
    &.wide {
      max-width: 1200px;
    }

    &.alignfull,
    &.align-full,
    &.full {
      max-width: none;
    }
  }
}

#fondo-slider {
  height: 100%;
}

.punteado {
  width: 12px;
  height: 100%;
  background-position: 0 -6px;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  @apply bg-allo font-sans;

  padding: 1em;
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

  a {
    @apply text-azul;
  }
}

.woocommerce-Price-currencySymbol {
  margin-left: 0.3em;
}
/* Bloque de video bunny.net */

[data-media-player][data-view-type='video'] {
  aspect-ratio: auto !important;
  display: flex !important;
}

video:not([width]):not([height]),
iframe:not([width]):not([height]) {
  aspect-ratio: auto !important;
  width: 100% !important;
}

[data-media-provider] {
  position: relative !important;
  width: 100% !important;
}

/* Mailchimp form */

.mce_inline_error[for='mce-EMAIL'] {
  position: absolute;
}

#mce-responses .response {
  position: absolute;
  background-color: #000;
  padding: 3px 5px;
  color: #fff;
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.animate-marquee-left {
  animation: marquee-left var(--duration, 40s) linear infinite;
}
