body.checkout {
  @apply font-sans text-[16px] text-negro-fb;

  h3 {
    @apply font-bold text-[20px] mb-4;

    label {
      @apply font-bold text-[20px];
    }
  }

  .col2-set {
    @apply md:flex gap-6;

    .col-1 {
      @apply md:w-1/2 mb-6;

      .woocommerce-billing-fields__field-wrapper {
        @apply bg-white p-4;

        p {
          @apply mb-4;
        }
      }
    }

    .col-2 {
      @apply md:w-1/2;

      .woocommerce-shipping-fields {
        @apply mb-4;

        .woocommerce-shipping-fields__field-wrapper {
          @apply bg-white p-4;

          p {
            @apply mb-4;
          }
        }
      }
    }
  }

  label {
    @apply inline-block  text-[16px] font-bold mt-4 mb-2;

    &.checkbox {
      input[type='checkbox'] {
        @apply relative appearance-none border-2 border-negro-fb w-[25px] h-[25px] align-middle;

        &:checked {
          @apply bg-azul border-0;

          &::after {
            content: '●';
            @apply text-white text-sm absolute left-[3px] top-[-10px] text-[30px];
          }
        }
      }

      span {
        @apply inline-block align-middle;
      }
    }
  }

  /* #shipping_method label {
    font-size: medium;
    font-weight: normal;
  } */

  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    @apply border !border-gray-300 w-full py-2 px-3 text-[16px];
  }

  #order_comments {
    @apply mb-0 min-h-[86px];
  }

  .woocommerce-additional-fields {
    @apply bg-white p-4;
  }

  h3 {
    @apply mt-4;
  }
  .woocommerce-checkout-review-order {
    table {
      @apply flex flex-col md:table bg-white w-full mb-4;

      thead {
        @apply hidden md:table-header-group;
        th {
          @apply text-[16px] uppercase tracking-wider p-2 border-b-2;
        }
      }

      tbody {
        tr {
          @apply flex flex-col md:table-row;
          td {
            @apply md:border-b p-4 text-[20px] border-gris-claro-fb;

            &.product-total {
              @apply text-right border-b;
            }
          }
        }
      }

      tfoot {
        @apply text-[20px];

        tr {
          th {
            @apply text-left px-4 py-1 md:pl-72;
          }

          &.cart-subtotal {
            td,
            th {
              @apply pt-6;
            }
          }

          &.order-total {
            td,
            th {
              @apply py-6 font-bold text-[24px] md:text-[32px];
            }

            th {
              @apply text-left;
            }
          }
        }
      }
    }

    .woocommerce-checkout-payment {
      @apply bg-white p-4 text-[16px];
    }
  }
}
