body.checkout {
  @apply font-sans text-[16px] text-negro-fb;

  .checkout_coupon {
    @apply flex flex-col items-center mb-12;

    p {
      @apply flex flex-col mb-4 items-center;

      .coupon-error-notice {
        @apply block py-2 text-rojo;
      }
    }

    input[type='text'] {
      @apply !border-2 !border-negro-fb text-center text-[24px] w-full md:w-[400px];
    }

    button[type='submit'] {
      @apply !border-2 !border-negro-fb text-center text-[24px] w-full md:w-[400px] py-2 cursor-pointer;

      &:hover {
        @apply bg-allo;
      }
    }
  }

  h3 {
    @apply font-bold text-[20px] mb-4;

    &#ship-to-different-address {
      @apply mt-0;

      label {
        @apply mb-0;
      }
    }

    label {
      @apply font-bold text-[20px];
    }
  }

  .col2-set {
    @apply md:flex gap-6;

    .col-1 {
      @apply md:w-1/2 mb-6;

      .woocommerce-billing-fields__field-wrapper {
        @apply bg-white p-4;

        p {
          @apply mb-4;
        }
      }
    }

    .col-2 {
      @apply md:w-1/2;

      .woocommerce-shipping-fields {
        @apply mb-4;

        .woocommerce-shipping-fields__field-wrapper {
          @apply bg-white p-4;

          p {
            @apply mb-4;
          }
        }
      }
    }
  }

  label {
    @apply inline-block  text-[16px] font-bold mt-4 mb-2;

    &.checkbox {
      input[type='checkbox'] {
        @apply relative appearance-none border-2 border-negro-fb w-[25px] h-[25px] align-middle;

        &:checked {
          @apply bg-azul border-0;

          &::after {
            content: '●';
            @apply text-white text-sm absolute left-[3px] top-[-10px] text-[30px];
          }
        }
      }

      span {
        @apply inline-block align-middle;
      }
    }
  }

  /* #shipping_method label {
    font-size: medium;
    font-weight: normal;
  } */

  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    @apply border !border-gray-300 w-full py-2 px-3 text-[16px];
  }

  #order_comments {
    @apply mb-0 min-h-[86px];
  }

  .woocommerce-additional-fields {
    @apply bg-white p-4;
  }

  h3 {
    @apply mt-4;
  }
  .woocommerce-checkout-review-order {
    table {
      @apply flex flex-col md:table bg-white w-full mb-4;

      thead {
        @apply hidden md:table-header-group;
        th {
          @apply text-[16px] uppercase tracking-wider p-2 border-b-2;
        }
      }

      tbody {
        tr {
          @apply flex flex-col md:table-row;
          td {
            @apply md:border-b p-4 text-[20px] border-gris-claro-fb;

            &.product-total {
              @apply text-right border-b;
            }
          }
        }
      }

      tfoot {
        @apply text-[20px];

        tr {
          th {
            @apply text-left px-4 py-1 md:pl-72;
          }

          &.cart-subtotal {
            td,
            th {
              @apply pt-6;
            }
          }

          &.order-total {
            td,
            th {
              @apply py-6 font-bold text-[24px] md:text-[32px];
            }

            th {
              @apply text-left;
            }
          }
        }
      }
    }

    .woocommerce-checkout-payment {
      @apply bg-white p-4 text-[16px] prose font-sans;

      li {
        @apply list-none;

        input {
          @apply relative top-[4px] mr-2;
        }

        label {
          img {
            @apply inline-block;
          }
        }
      }

      /* Cambiar tamaño y color del radio */
      input.input-radio[type='radio'] {
        width: 20px;
        height: 20px;
        accent-color: #000; /* Soporte moderno para el color del "check" */
        cursor: pointer;
      }

      button[name='woocommerce_checkout_place_order'] {
        @apply block text-center bg-azul !text-white px-6 py-4 hover:bg-allo hover:!text-negro-fb tracking-wider w-64 leading-5 text-[18px] uppercase mx-auto my-12 cursor-pointer;
        clip-path: ellipse(50% 50% at 50% 50%);
      }
    }
  }

  .woocommerce-order {
    @apply bg-white p-4 prose font-sans;

    .woocommerce-notice {
      @apply text-lg text-center p-6 font-bold bg-allo;
    }

    .order_details {
      @apply p-0;

      li {
        @apply list-none border-b border-gris-claro-fb py-2 m-0;

        &:first-child {
          @apply border-t;
        }
      }

      ul.wc-item-meta {
        @apply pl-0;

        li {
          @apply !border-none;
        }
      }
    }
  }
}
