.single-product {
  form.cart {
    width: 100%;

    .single_add_to_cart_button {
      display: block;
      width: 100%;
      padding: 1em;
      @apply bg-azul;
      @apply tracking-widest;

      color: #fff;
      text-transform: uppercase;
    }
  }

  form.variations_form {
    table.variations {
      border-collapse: separate;
      border-spacing: 0 1em;

      tbody > tr {
        .label {
          height: 20px;
          padding: 14px 19px 12px;
          background-color: #fff;
          text-align: left;
          font-weight: 300;
        }

        .reset_variations {
          position: absolute;
          left: 0;
        }

        .cfvsw-swatches-container {
          gap: 0;

          .cfvsw-swatches-option {
            padding: 4px;
            border-color: transparent;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            margin-right: 0;
            border-left: 2px solid #000 !important;

            .cfvsw-swatch-inner {
              padding: 10px 15px 8px;
              border: 2px solid transparent;
              border-radius: 5px;
              min-height: 50px;
            }

            &.cfvsw-swatches-disabled .cfvsw-swatch-inner {
              color: #ffb8b8;
            }
          }

          .cfvsw-selected-swatch {
            .cfvsw-swatch-inner {
              border-color: blue;
            }
          }
        }
      }

      @media (width >= 768px) {
        tbody > tr {
          .label {
            min-width: 200px;
          }
        }
      }
    }

    .reset_variations {
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 1rem;
      color: blue;
    }

    .single_variation_wrap {
      margin-top: 2rem;

      .woocommerce-variation-price {
        padding: 0.87rem 1rem;
        background-color: #fff;
        font-size: 1.2rem;
      }

      .woocommerce-variation {
        color: blue;

        > div {
          display: inline-block;
        }

        .woocommerce-variation-availability {
          display: none;
        }

        del {
          margin-right: 1rem;
          color: #d50000;
        }

        ins {
          text-decoration: none;
        }

        .woocommerce-variation-description {
          display: none;
        }
      }
    }
  }

  @media (width >= 768px) {
    .entry-summary {
      padding: 2rem 3vw;
    }
  }

  @media (width >= 1024px) {
    .entry-summary {
      padding: 2rem 5vw;
    }
  }

  @media (width >= 1280px) {
    .entry-summary {
      padding: 2rem 7vw;
    }
  }

  @media (width >= 1536px) {
    .entry-summary {
      padding: 2rem 9vw;
    }
  }
}
