html {
  font-size: 1rem;

  @screen sm {
    font-size: calc(0.5vw + 0.7rem);
  }
}

.main {
  @media (width >= 640px) {
    margin-top: 10rem;

    .home &,
    .tax-artist &,
    .single-story &,
    .single-project & {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

body {
  @apply font-fk;
}

#fondo {
  @apply fixed inset-0 bg-fondo-medio;

  background-size: 10px 10px;
}

#app {
  @apply relative;
}

.sombra {
  text-shadow: 0.1em 0.1em 0 #000;
}

main {
  a:link {
    color: theme('colors.azul');
    transition: color 0.5s, background-color 0.5s;

    &:hover {
      color: theme('colors.negro-fb');
      text-decoration: none;
    }

    &:visited {
      color: #6c7399;
    }
  }

  .prose {
    ul > li {
      padding-left: 0;

      &.blocks-gallery-grid::before {
        content: none;
      }

      img {
        margin: 0;
      }
    }
  }

  .contenido > * {
    max-width: 768px;
    margin-left: auto !important;
    margin-right: auto !important;

    &.alignwide {
      max-width: 1024px;
      margin-left: auto !important;
      margin-right: auto !important;
    }

    &.alignfull {
      max-width: none;
    }
  }
}

#fondo-slider {
  height: 100%;
}

.punteado {
  width: 12px;
  height: 100%;
  background-position: 0 -6px;
}

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  @apply bg-allo;

  padding: 1em;
  border: 1px solid #000;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

  /* @screen md {
    margin-left: 0;
    margin-right: 0;
 } */
}

.woocommerce-Price-currencySymbol {
  margin-left: 0.3em;
}

/* .clip-path-elipse {
  clip-path: ellipse(50% 50% at 50% 50%);
} */
