body.cart {
  .ticket-head {
    .ticket-triangulo {
      height: 30px;
    }
  }

  .cart-collaterals {
    .cart_totals {
      @apply bg-allo-claro pt-6 pb-12 px-6 md:px-0;

      h2 {
        @apply text-2xl text-center mb-6;
      }

      .shop_table {
        @apply mb-8;

        tr {
          border-bottom: 1px solid #000;

          &:last-child {
            border-bottom: none;
          }

          th {
            @apply text-right pr-6 align-top py-3;
          }
          td {
            @apply py-3 pr-6;
          }

          &.order-total {
            @apply text-3xl;
          }
        }
  
        .shipping {
          .shipping-calculator-form {
            p {
              @apply my-2;
            }
          }

          .shipping-calculator-button,
          button {
            @apply btn my-6 inline-block;
          }



          .select2-container--default {
            .select2-selection {
              -webkit-box-shadow: 0;
              box-shadow: 0;
              background-color: #fff;
              border: 0;
              border-radius: 0;
              outline: 0;
              min-height: 3rem;
              text-align: left;
              margin-bottom: 0.1rem;
  
              .select2-selection__rendered,
              .select2-selection__arrow {
                display: block;
                padding: 0.8rem 1.5rem;
              }

              .select2-selection__arrow {
                margin-top: 0.5rem;                
              }
            }

          }
        }
      }

      .checkout-button {
        color: #fff;
      }
    }
  }

  .woocommerce-customer-details {
    @apply p-6;
  }

  .select2-dropdown {
    border: none !important;
    li {
      padding: 0.8rem 1.5rem;
    }
  }

  


  .ticket {
    .tk-row {
      .product-remove {
        width: 90px;
        padding: 14px;
      }

      .tk-cell {
        &.product-thumbnail {
          align-self: flex-start;
          flex-grow: 0;
          flex-shrink: 0;

          a {
            img {
              max-width: 5rem;
              max-height: 5rem;
              width: auto;
              height: auto;
            }
          }
        }

        &.product-subtotal {
          .woocommerce-Price-currencySymbol {
            margin-left: 0.3em;
          }
        }

        &.product-quantity {
          .quantity {
            height: 100%;
            width: 4em;
          }

          input[type=number] {
            -moz-appearance: textfield;
            width: 100%;
            display: block;
            padding: 1em;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }
        }

        &.actions {
          .coupon {
            .central {
              width: 20rem;
            }

            .lateral {
              width: calc(50% - 10rem);
            }
          }
        }
      }

      @media (min-width: 786px) {
        .tk-cell {
          &.product-thumbnail {
            width: 13rem;
            flex-grow: 0;
            flex-shrink: 0;

            a img {
              max-width: 10rem;
              max-height: 10rem;
            }
          }

          &.product-data {
            width: 35%;
            flex-grow: 0;
            flex-shrink: 0;
          }

          &.product-subtotal {
            width: 16%;
            flex-grow: 0;
            flex-shrink: 0;
          }
        }
      }
    }
  }

  .cart_totals {
    .subt-tabla {
      max-width: 20rem;
    }
  }
}


