footer {
  .frase-footer {
    letter-spacing: -0.1em;
  }

  .mc4wp-form {
    width: 100%;

    input {
      padding: 0;
      width: 100%;
      border: none;
      margin-top: 0.5rem;
    }

    .mc4wp-notice {
        margin-top: 0.5rem;
    }
  }

  @media (min-width: 640px) {
    .mc4wp-form {
      .mc4wp-form-fields {
        display: flex;
        justify-content: space-between;
      }

      input {
        margin-top: 0;

        &[type="email"] {
          margin-right: 1rem;
        }
      }
    }
  }
}
