#solapa {
  left: -100vw;

  ul li {
    position: relative;
    left: -50rem;

    a {
      display: inline-block;
    }
  }
}

.banner {
  nav {
    ul {
      justify-content: space-between;
      flex-wrap: wrap;

      .li-brand {
        order: 1;
        max-width: 40%;
        height: 8rem;
      }

      .li-cart {
        width: 100%;
        order: 0;

        .cart-link {
          .hole {
            width: 120px;

            .num-items {
              text-shadow: none;
              padding: 0.5rem;
            }

            .hole-cell {
              margin: -2px;
            }

            svg {
              width: 100%;
              height: auto;
            }

            .espacio {
              height: 0.5rem;
            }
          }

          > .espacio {
            width: 2rem;
          }
        }
      }

      .li-menu {
        order: 4;
        top: 10rem;
        right: 1.5rem;

        &.posY {
          top: 1rem;
        }
      }

      .li-shop {
        order: 2;
      }
    }
  }

  @screen sm {
    position: fixed;

    nav ul {
      flex-wrap: nowrap;

      .li-brand {
        width: 50%;
        max-width: 100%;
        height: auto;
        flex-grow: 1;
        order: 0;
      }

      .li-shop {
        order: 2;
      }

      .li-cart {
        width: auto;
        order: 3;

        .hole {
          width: 8rem;
        }
      }

      .li-menu {
        order: 1;
      }
    }
  }
}
