.single-product {
  form.cart {
    width: 100%;

    .ftbs_variationsTableRowColumn {
      display: flex;
      align-items: center;
    }

    .ftbs_variationsTableRowColumn_quantityInput {
      width: 4rem;
    }

    .single_add_to_cart_button {
      display: block;
      width: 100%;
      padding: 1em;
      @apply bg-azul;
      @apply tracking-widest;
      color: #fff;
      text-transform: uppercase;
    }
  }

  form.variations_form {
    table.variations {
      border-collapse: separate;
      border-spacing: 0 1em;
      tbody > tr {
        position: relative;
        margin-bottom: 1rem;

        .label {
          background-color: #fff;
          height: 20px;
          padding: 0 1rem;
          text-align: left;
          min-width: 200px;
        }

        .reset_variations {
          position: absolute;
          left: 0;
        }

        .cfvsw-swatches-container {
          gap: 0;

          .cfvsw-swatches-option {
            padding: 4px;
            border-color: transparent;
            font-size: 1rem;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            margin-right: 0;
            border-left: 2px solid #000 !important;

            .cfvsw-swatch-inner {
              padding: 10px 15px 8px;
              border: 2px solid transparent;
              border-radius: 5px;
            }

            &.cfvsw-swatches-disabled .cfvsw-swatch-inner {
              color: #ffb8b8;
            }
          }

          .cfvsw-label-option {
            /* padding: 0.8em 1em 0.6em; */
          }

          .cfvsw-selected-swatch {
            .cfvsw-swatch-inner {
              border-color: blue;
            }
          }
        }
      }
    }

    .reset_variations {
      display: block;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 1rem;
      color: blue;
    }

    .single_variation_wrap {
      margin-top: 2rem;

      .woocommerce-variation-price {
        padding: 1rem;
        background-color: #fff;
        font-size: 2rem;
      }

      .woocommerce-variation {
        color: blue;

        > div {
          display: inline-block;
        }

        del {
          margin-right: 1rem;
          color: #d50000;
        }

        ins {
          text-decoration: none;
        }

        .woocommerce-variation-description {
          display: none;
        }
      }
    }
  }

  @screen md {
    .entry-summary {
      padding: 2rem 3vw;
    }
  }

  @screen lg {
    .entry-summary {
      padding: 2rem 5vw;
    }
  }

  @screen xl {
    .entry-summary {
      padding: 2rem 7vw;
    }
  }

  @screen xl {
    .entry-summary {
      padding: 2rem 9vw;
    }
  }
}
